node_modules
.env


 //information save---
        app.post('/addInformation', async (req, res) => {
            const addInfo = req.body;
            console.log(addInfo)
            const result = await AddInformationCollection.insertOne(addInfo);
            res.send(result);
        });